body{
    background-color: black;
    font-family: sans-serif;
    
}

.card{ /*card es la clase que elegimos para modificar elementos de div*/
    background-color: coral;
    text-align: center;
    width: 300px ; /*esto es el ancho de la targeta en unidad de pixel*/
    margin: auto; /*esto es para que la targeta se centre "horizontalmente"*/
    margin-top: 30px;
    
}

h1{
    background-color: rgba(147, 140, 7, 0.411);
    margin-bottom: 0px;
}

h2{

    background-color: rgba(147, 140, 7, 0.411);
    margin-top: 0px;
}

